@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter: "Inter", sans-serif;
  --color-primary: #f2f2f2;
  --color-secondary: #b0c3eb;
  --color-accent: #3d7dd7;
  --color-text: #31394e;
  --color-subtext: #a9aab8;
  --color-hover: #1c4b8a;
  --color-applied: #5d5de3;
  --color-offer: #47c5de;
  --color-interview: #de8a2c;
  --color-rejected: #de1843;
  --color-sucess: #359171;
  --color-error: #d36f6f;
  --color-dark-primary: #273246;
  --color-dark-secondary: #293655;
  --color-dark-text: #cad2de;
  --color-dark-subtext: #cdced1;
  --color-dark-hover: #6190cf;
}

@layer components {
  .active {
    color: #3d7dd7;
    font-weight: 700;
  }
}

@layer animation {
  @media screen and (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.001ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.001ms !important;
    }
  }
}
